

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 10vh 90vh 20vh;
    background-color:white;
    font-size:14px;
   
}

header {
     background: linear-gradient(90deg, #2E6F95,#455E89,#5C4D7D,#723C70,#892B64);
    display:grid;
    margin-bottom:2px;
    font-family: 'Montserrat', sans-serif;
}

main {
     background: linear-gradient(90deg,#2E6F95,#455E89,#5C4D7D,#723C70,#892B64);
     display:grid;
}

footer {
     background-color:white;
     display:grid;
}

a {
    font-size:1.2rem;
}
